---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";

export const prerender = false;
---

<Layout>
  <div
    class="bg-white py-10 space-y-4 flex flex-col gap-4 justify-center items-center"
  >
    <Image
      src="https://www.rockandrollsfit.com/wp-content/uploads/2025/02/cropped-logo-rockweb-01.png"
      alt="Success"
      class="w-40 h-auto"
      inferSize
      loading="eager"
    />
    <h1 class="text-center text-3xl font-bold">Transaccion fallida</h1>
  </div>
  <div class="bg-[#F37622] py-20 px-4">
    <div class="flex flex-col gap-4 pb-16">
      <p class="text-xl font-semibold">Algo salió mal!</p>
      <p class="text-sm text-gray-900">
        Por favor intenta nuevamente o ponte en contacto con nosotros al correo
        <a class="underline decoration-1" href="mailto:support@rockandrollsfit.com"
          >support@rockandrollsfit.com</a
        >.
      </p>
    </div>
  </div>
</Layout>
